<!--
  Title: contact.component.html
  Author: Richard Krasso
  Contributor: Walter McCue
  Date: 03/19/23
  Description: html for the nodebucket project
-->

<div class="img-container">
  <img src="../../../assets/contact.jpg" alt="About Us" />
</div>


<div fxLayout class="main-contact">

  <mat-card class="contact-container" class="w-100">

    <div fxLayout>

        <div fxFlex="column" style="width:50%;">
          <div class="text-center">
            <p><i class="fa-solid fa-location-dot"></i></p>
            <p>1234 My Street</p>
            <p>My City, My State</p>
          </div>
        </div>

        <div fxFlex="column" style="width:50%;">
          <div class="text-center">
            <p><i class="fa-solid fa-phone"></i></p>
            <p>Direct: 555-555-5555</p>
            <p>Toll-free: 1-888-555-5555</p>
            <p>Fax: 555-555-5555</p>
          </div>
        </div>

    </div>

    <div class="text-center">
      <p>Please don't hesitate to see our headquarters or give us a call!</p>
    </div>

  </mat-card>

</div>
