<!--
  Title: not-found.component.html
  Author: Walter McCue
  Date: 03/26/23
  Description: html for the nodebucket project
-->

<div class="img-container desktop">
  <img src="../../../assets/not-found.jpg" alt="404 Not Found Error" />
</div>

<div class="img-container mobile">
  <img src="../../../assets/not-found-mobile.jpg" alt="404 Not Found Error" />
</div>

<div fxLayout="column" class="main-about">

  <div class="img-container">
    <img src="../../../assets/train.jpg" alt="Speeding Train" width="95%" />
  </div>

  <br><br>

  <div class="text-center">
    <p>
      Oops. This isn't a valid stop. Please get back on track by boarding at: <a routerLink="/">Platform 9 & 3/4</a>
    </p>
  </div>

</div>
