<!--
  Title: not-found.component.html
  Author: Walter McCue
  Date: 03/26/23
  Description: html for the nodebucket project
-->

<!-- Welcome Message -->
<h1 class="metal-mania secondary-color"
  style="font-size: 60px; text-align: center; line-height: 1; margin-top:10px">
  404 Error Page Not Found
</h1>

<div fxLayout="column" class="main-about">

  <div class="img-container">
    <img src="../../../assets/train.jpg" alt="Speeding Train" width="95%" />
  </div>

  <br><br>

  <div class="text-center">
    <p>
      Oops. This isn't a valid stop. Please get back on track by boarding at: <a routerLink="/">Platform 9 & 3/4</a>
    </p>
  </div>

</div>
