<!--
  Title: about.component.html
  Author: Walter McCue
  Date: 03/26/23
  Description: html for the nodebucket project
-->
<div class="img-container">
  <img src="../../../assets/about.jpg" alt="About Us" />
</div>

<div fxLayout class="main-container">

  <mat-card>

    <div fxLayout>

      <div fxFlex class="flex-container">

        <div class="content-container">
          <p>
            Nodebucket is a user-friendly app that gives anyone the ability to create a list of tasks to do.
            Our theme for nodebucket was derived from Harry Potter's House Hufflepuff.
            Tasks can be marked as done as they are completed or even deleted entirely.
            Once a user logs in, they will automatically be taken to the nodebucket home page.
            On the homepage is the task input form, a list of to-do tasks, and a list of done tasks.
            Once tasks are created, they will show up in the to-do list.
            After the task is completed a user can simply drag-and-drop the task to the done list.
            The task can be moved back to the to-do list in the same manner. Tasks can also be deleted from the lists.
          </p>
          <p>
            This task management system is great for people of all walks of life.
            Whether you are a stay-at-home mother, an accountant, or even a super-secret crypto-trader.
            Your account information is safe with our state of the art AuthGuard technology.
            Also, we’ve added additional functionality that enables nodebucket to be accessed on your mobile device.
            So if you are out and about, you can log-in and take care of business.
            There’s nothing you cannot do, or nothing you cannot remind yourself to do, with our application.
          </p>
          <p>
            If you are a current user of nodebucket, please visit the contact us page and give us your honest assessment of our application.
            If you are not a current user but would like to be, please visit the contact us page and let us know.
            It’s our goal to serve our local community and inspire people to become more productive and achieve all their goals.
          </p>
        </div>

        <div class="content-container">
          <div class="img-container">
            <img src="../../../assets/hufflepuff-logo.jpg" alt="House Hufflepuff Logo" width="70%" />
          </div>
        </div>

      </div>

    </div>

  </mat-card>

</div>
