<!--
  Title: home.component.html
  Author: Richard Krasso
  Contributor: Walter McCue
  Date: 03/19/23
  Description: html for the nodebucket project
-->

<div class="img-container desktop">
  <img src="../../../assets/welcome.jpg" alt="Welcome to Nodebucket" />
</div>

<div class="img-container mobile">
  <img src="../../../assets/welcome-mobile.jpg" alt="Welcome to Nodebucket" />
</div>

<div fxLayout="column" class="main-welcome">
  <h1 class="title">
    Welcome to WEB 450's - nodebucket Project <br />
    <span class="subtitle">
      Pay close attention to the requirements, double and triple check the files for code attribution, and do not wait until the last minute to begin working on your tasks.
    </span>
  </h1>
</div>
