/**
Title: home.component.sss
Author: Author: Richard Krasso
Contributor: Walter McCue
Date: 03/19/23
Description: styling for the nodebucket project
*/

.main-container {
  margin-top: 30px;
}

.title {
  text-align: center;
  font-weight: lighter;
}

.subtitle {
  text-align: center;
  font-size: 14px;
}

.task-container {
  margin: 0 auto 30px auto;
}

.task-column {
  border: 1px solid #ccc;
  min-height: 68px;
  background: #fff;
  border-radius: 4px;
  overflow: hidden;
  display: block;
}

.task-card {
  cursor: move;
  padding: 20px 10px;
  border-bottom: 1px solid #ccc;
  min-height: 68px;
  font-size: 14px;
  box-sizing: border-box;
  justify-content: space-between;
  align-items: center;
}

.list-container {
  width: 30%;
  margin: 2%;
  justify-items: center;
}

@media screen and (max-width: 800px) {
  .list-container {
    width: 95%;
  }
}