<!--
  Title: home.component.html
  Author: Richard Krasso
  Contributor: Walter McCue
  Date: 03/19/23
  Description: html for the nodebucket project
-->

<!-- Welcome Images -->
<div class="img-container desktop">
  <img src="../../../assets/welcome.jpg" alt="Welcome to Nodebucket" />
</div>

<div class="img-container mobile">
  <img src="../../../assets/welcome-mobile.jpg" alt="Welcome to Nodebucket" />
</div>

<div fxLayout class="main-container">

  <!-- Create Task -->
  <div fxFlex class="flex-container">

    <div class="content-container">

      <!-- Server Messages -->
      <div>
        <p-messages [(value)]="serverMessages" [enableService]="false"></p-messages>
      </div>

      <!-- Task Form -->
      <div class="mat-elevation-z4">
        <mat-card>
          <form [formGroup]="taskForm" (ngSubmit)="createTask(); taskForm.reset();">
            <mat-card-content>
              <mat-form-field appearance="fill" class="w-100">

                <input
                  matInput
                  formControlName="task"
                  placeholder="Enter a task name..."
                />

                <button type="submit" [disabled]="!taskForm.valid" mat-icon-button matSuffix>
                  <mat-icon color="#000" matSuffix style="width: 36px; height: 36px; font-size: 36px;">
                    add_circle
                  </mat-icon>
                </button>

              </mat-form-field>

              <!-- Error Handling -->
              <mat-error *ngIf="taskForm.controls['task'].hasError('required') && taskForm.controls['task'].touched">
                Task is a required field.
              </mat-error>
              <mat-error *ngIf="taskForm.controls['task'].hasError('minlength') && taskForm.controls['task'].touched">
                Task must be at least 3 characters in length.
              </mat-error>
              <mat-error *ngIf="taskForm.controls['task'].hasError('maxlength') && taskForm.controls['task'].touched">
                Task must not exceed 35 characters in length.
              </mat-error>

            </mat-card-content>
          </form>
        </mat-card>
      </div>

    </div>

  </div>

</div>

<div fxLayout class="main-container">

  <!-- Todo and Done Columns -->
  <div fxFlex class="flex-container">

    <!-- ToDo Column -->
    <div class="task-container list-container">

      <mat-card class="mat-elevation-z0 task-gap">

        <mat-card-title>ToDo</mat-card-title>

        <mat-card-content>

          <div class="task-column">
            <div *ngFor="let item of todo">
              <mat-card class="mat-elevation-z0 task-card">
                <mat-card-content>
                  <div fxLayout="row">
                    <div fxFlex>
                      {{ item.text }}
                    </div>
                    <!-- Delete Icon -->
                  </div>

                </mat-card-content>

              </mat-card>
            </div>

          </div>
        </mat-card-content>
      </mat-card>
    </div>

    <!-- Doing Column -->
    <div class="task-container list-container">

      <mat-card class="mat-elevation-z0 task-gap">

        <mat-card-title>Doing</mat-card-title>

        <mat-card-content>

          <div class="task-column">
            <div *ngFor="let item of doing">
              <mat-card class="mat-elevation-z0 task-card">
                <mat-card-content>
                  <div fxLayout="row">
                    <div fxFlex>
                      {{ item.text }}
                    </div>
                    <!-- Delete Icon -->
                  </div>

                </mat-card-content>

              </mat-card>
            </div>

          </div>
        </mat-card-content>
      </mat-card>
    </div>

    <!-- Done Column -->
    <div class=" task-container list-container">
      <mat-card class="mat-elevation-z0">

        <mat-card-title>Done</mat-card-title>

        <mat-card-content>

          <div class="task-column">
            <div *ngFor="let item of done">
              <mat-card class="mat-elevation-z0 task-card">
                <mat-card-content>
                  <div fxLayout="row">
                    <div fxFlex>
                      {{ item.text }}
                    </div>
                    <!-- Delete Icon -->
                  </div>
                </mat-card-content>
              </mat-card>
            </div>
          </div>

        </mat-card-content>

      </mat-card>

    </div>

  </div>

</div>
