<!--
  Title: base-layout.component.html
  Author: Richard Krasso
  Contributor: Walter McCue
  Date: 03/19/23
  Description: html for the nodebucket project
-->

<div fxLayout="column">

  <!-- navigation -->
  <nav fxFlex>

    <mat-toolbar class="primary-color">

      <!-- navbar container -->
      <div class="navbar-container">
        <!-- logo -->
        <button class="navbar-link" routerLink="/" mat-button><img src="../../../assets/home-logo.jpg" alt="Nodebucket" /></button>
        <button class="navbar-link" routerLink="/about" mat-button><img src="../../../assets/about-logo.jpg" alt="About" /></button>
        <button class="navbar-link" routerLink="/contact" mat-button><img src="../../../assets/contact-logo.jpg" alt="Contact Us" /></button>
      </div>

      <div fxFlex></div>

      <div>
        <button mat-icon-button [matMenuTriggerFor]="profileMenu" aria-label="User Profile menu">
          <mat-icon>perm_identity</mat-icon>
        </button>
        <mat-menu #profileMenu class="primary-color">
          <p style="padding: 10px; font-size: 16px; font-weight: bolder">Signed in as {{ sessionName }}</p>
          <button mat-menu-item (click)="logout()">
            <mat-icon>logout</mat-icon>
            <span>Log out</span>
          </button>
        </mat-menu>
      </div>

    </mat-toolbar>

  </nav>


  <!-- main content -->
  <div fxFlex>
    <main class="main-content" fxFlex="100%;">
      <router-outlet></router-outlet>
    </main>
  </div>

  <!-- footer -->
  <div fxFlex>
    <footer class="footer">
      <mat-toolbar class="footer-content primary-color">
        <p>
          &copy; {{year | date: 'yyyy'}} - nodebucket - <a href="https://www.bellevue.edu/" class="bu-link" target="_blank">Bellevue University</a>
        </p>
      </mat-toolbar>
    </footer>
  </div>
</div>
