/**
Title: base-layout.component.sss
Author: Richard Krasso
Contributor: Walter McCue
Date: 03/19/23
Description: styling for the nodebucket project
*/

.navbar-container {
  padding: 30px;
}

.navbar-link {
  font-size: 32px;
  padding-left: 50px;
  padding-right: 50px;
}

.main-content {
  padding: 30px;
  margin-bottom: 50px;
}

.footer {
  bottom: 0;
  position: fixed;
  width: 100%;
}

.footer-content {
  font-size: 16px;
  padding-left: 100px;
  letter-spacing: 3px;
  padding-top: 10px;
}

.bu-link {
  text-decoration: none;
  color: #432e63;
}

.bu-link:hover {
  text-decoration: underline;
}

.mobile-toggle {
  display: none;
}

@media (max-width: 800px) {
  .navbar-container {
    display: none;
  }

    .mobile-toggle {
    display: block;
    display: flex;
    flex-direction: column;
  }
  .footer-content {
    padding-left: 0;
    justify-content: center;
  }
}