/**
Title: styles.sss
Author: Richard Krasso
Contributor: Walter McCue
Date: 03/19/23
Description: Global styling for the nodebucket project
*/

/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #000;
  color: #fff;
}

.w-100 {
  width: 100%;
}

.primary-color {
  background-color: #ecb939;
  color: #372e29;
}

.secondary-color {
  background-color: #372e29;
  color: #ecb939;
}

.dark-bg {
  background-color: #000;
  color: #fff;
}

.img-container {
  display: grid;
  margin-left: auto;
  margin-right: auto;
  place-items: center;
  max-width: 1100px;
}

.text-center {
  text-align: center;
}

.main-container {
  justify-content: center;
}

/* Desktop vs Mobile Styling */

.mobile {
  display: none;
}

.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.content-container {
  width: 45%;
  margin: 2%;
  justify-items: center;
}

@media screen and (max-width: 800px) {
  .desktop {
    display: none;
  }
  .mobile {
    display: block;
    display: grid;
    place-items: center;
  }
  .flex-container {
    display: flex;
    flex-direction: column;
  }
  .content-container {
    width: 95%;
  }
}
