/**
Title: styles.sss
Author: Author: Richard Krasso
Contributor: Walter McCue
Date: 03/19/23
Description: Global styling for the nodebucket project
*/

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
